<mat-spinner *ngIf="loading"></mat-spinner>

<mat-toolbar *ngIf="!loading" color="secondary">
  <span class="space"></span>
  <span> Kontroles </span>
  <span class="space"></span>
</mat-toolbar>
<div *ngIf="!loading" class="atras-div">
  <button [routerLink]="['/home']" mat-raised-button color="primary"> Atrás </button>
</div>
<div *ngIf="!loading">
  <button  mat-raised-button color="accent" *ngFor="let kontrol of kontroles" [routerLink]="['/kontrols',kontrol.kid]" (click)="setKmac(kontrol.kmac)"> {{kontrol.kname}} </button>
</div>
