<mat-spinner *ngIf="loading"></mat-spinner>

<mat-toolbar *ngIf="!loading" color="secondary">
  <span class="space"></span>
  <span> {{ nombre }} </span>
  <span class="space"></span>
</mat-toolbar>
<div *ngIf="!loading" class="atras-div">
  <button [routerLink]="['/kontrols']" mat-raised-button class="boton" color="primary"> Atrás </button>
</div>
<div class="grid-content" *ngIf="!loading">
  <ng-container *ngFor="let korder of kordenes">
    <!--VOID-->
    <button  mat-raised-button class="boton" color="accent" *ngIf="korder.ktype == 'v'" (click)="enviarOrden(korder)"> {{korder.kname}} </button>

    <!--BOOLEANO-->
    <div class="toogle" *ngIf="korder.ktype == 'b'">
      <mat-slide-toggle
      [(ngModel)]="korder.value"
      (change)="enviarOrden(korder,korder.value)">
         {{korder.kname}}
       </mat-slide-toggle>
    </div>

    <!--STRING-->
    <div class="toogle" *ngIf="korder.ktype == 's'">
      <mat-form-field>
      <input
      [(ngModel)]="korder.value"
      matInput placeholder="{{korder.kname}}"
      (change)="enviarOrden(korder,korder.value)">
      </mat-form-field>
    </div>

    <!--NUMEROS-->
    <div class="slider" *ngIf="korder.ktype == 'h'">
      <span>{{korder.kname}}</span>
      <mat-slider
      min="0"
      max="100"
      thumbLabel
      [(ngModel)]="korder.value"
      (change)="enviarOrden(korder,korder.value)"
      ></mat-slider>
    </div>
    <div class="slider" *ngIf="korder.ktype == 'i'">
      <span>{{korder.kname}}</span>
      <mat-slider
      min="0"
      max="1000"
      thumbLabel
      [(ngModel)]="korder.value"
      (change)="enviarOrden(korder,korder.value)"
      ></mat-slider>
    </div>
    <div class="slider" *ngIf="korder.ktype == 'j'">
      <span>{{korder.kname}}</span>
      <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      tickInterval="1000"
      min="0"
      max="1000000"
      [(ngModel)]="korder.value"
      (change)="enviarOrden(korder,korder.value)"
      ></mat-slider>
    </div>

    <div class="slider" *ngIf="korder.ktype == 'o'">
      <span>{{korder.kname}}</span>
      <mat-slider
      min="0"
      max="255"
      thumbLabel
      [(ngModel)]="korder.value"
      (change)="enviarOrden(korder,korder.value)"
      ></mat-slider>
    </div>
    <div class="slider" *ngIf="korder.ktype == 'p'">
      <span>{{korder.kname}}</span>
      <mat-slider
      min="0"
      max="1023"
      thumbLabel
      [(ngModel)]="korder.value"
      (change)="enviarOrden(korder,korder.value)"
      ></mat-slider>
    </div>
    <div class="slider" *ngIf="korder.ktype == 'q'">
      <span>{{korder.kname}}</span>
      <mat-slider
      min="0"
      max="65535"
      thumbLabel
      [displayWith]="formatLabel"
      tickInterval="1000"
      [(ngModel)]="korder.value"
      (change)="enviarOrden(korder,korder.value)"
      ></mat-slider>
    </div>
  </ng-container>

</div>
