<mat-toolbar color="secondary">
  <span class="space"></span>
  <span> {{ nombre }} </span>
  <span class="space"></span>
</mat-toolbar>
<div class="atras-div">
  <button [routerLink]="['/kontrols']" mat-raised-button class="boton" color="primary"> Atrás </button>
</div>

<div class="div-content-flex">
  <button [routerLink]="['/kontrols/korders',id]" mat-raised-button color="accent" class="boton"> Ordenes </button>
  <button [routerLink]="['/kontrols/kindicators',id]" mat-raised-button color="accent" class="boton"> Indicadores </button>
</div>
